<p>Please go to <a href="{{fullAddress}}">{{fullAddress}}</a></p>

<p>This will log you in, and if you were trying to get to a page take you there,
   otherwise you will be redirected to the home page.<p>

<p>You will be logged in to the computer on which you click the link for 30 days
   or until you log off.  We do <em>not</em> store any passwords, we just keep
   track of your Email address.</p>