.login-form        { padding-bottom: 10px; }
.login-form label  { margin-left: 10px; }
.login-form button { width: 200px;}
body.cilogi-info   { padding-top:50px;}
.cilogi-info h1.cilogi-title    { color: white; }